.button {
    background-color: black;
    color: white;
    border: none;
    padding: 2.5% 20%;
    margin-top: 4%;
    cursor: pointer;
    border: none;
}

.button:hover {
    transform: scale(1.05);
   transition: transform 0.2s ease;
 }