.ImageWrapper {
  position: relative;
  cursor: pointer;
}

.ProductImage {
  transition: transform 0.2s ease;
}

.ImageWrapper:hover .ProductImage {
  transform: translateY(-3px);
}

.ImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity as desired (currently set to 0.1) */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ImageWrapper:hover .ImageOverlay {
  opacity: 1;
}

.title {
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;
  
}

@media (max-width: 667px) {
  .ProductImage {
    width: 100%; 
    object-fit: cover;
  }
}
  

